/* Body styling */
body {
    background-color: white;
    font-family: Arial, sans-serif;

    height: 100vh;
}

.main-heading{
    margin-top: 50px;
    text-align: center
}

/* Outer container to center the whole form */
.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 25%;
    margin: 20px;
}

.read-section{
    border: solid black;
    text-align: center;
    background-color: white;
    color: black;
    /* margin-bottom: 80px; */
}

.write-section{
    border: solid black;
    text-align: center;
    background-color: white;
    color: black;
    /* margin-bottom: 80px; */
}

.update-section{
    border: solid black;
    text-align: center;
    background-color: white;
    color: black;
    /* margin-bottom: 80px; */
}


.delete-section{
    border: solid black;
    text-align: center;
    background-color: white;
    color: black;
    /* margin-bottom: 80px; */
}
/* Form container styling */
.read-section form{
    padding-top: 10%;
}

.write-section form{
    padding-top: 10%;
}
.update-section form{
    padding-top: 10%;
}
.delete-section form{
    padding-top: 10%;
}
.read-section form input{
    margin-top: 5%;
}
.read-section form button{
    margin-top: 5%;
}


.write-section form input{
    margin-top: 5%;
    margin-bottom: 5%;
}
.write-section form select{
    margin-top: 5%;
}
.write-section form button{
    margin-top: 5%;
}

.update-section form input{
    margin-top: 5%;
    margin-bottom: 5%;
}
.update-section form select{
    margin-top: 5%;
}
.update-section form button{
    margin-top: 5%;
}

.delete-section form input{
    margin-top: 5%;
}
.delete-section form button{
    margin-top: 5%;
}